<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="seatDAO">

	<select id="getseatList" parameterType="com.iticket.app.vo.SeatVO" resultType="com.iticket.app.vo.SeatVO">
		select * from seat order by st_num  
	</select>

	<select id="get_seat" parameterType="com.iticket.app.vo.SeatVO" resultType="com.iticket.app.vo.SeatVO">
		select * from seat
		where st_num = #{st_num}
	</select>
	
	<select id="getseatList_choose" parameterType="com.iticket.app.vo.SeatVO" resultType="com.iticket.app.vo.SeatVO">
		select * from seat 
		where hl_buildingnum = #{hl_buildingnum}
		order by st_num  
	</select>

</mapper>